/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap'); */

.text {
  font-family: 'Montserrat';
  font-weight: 400;
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  justify-content: space-around;
  width: 250px;
  height: 100px;
  margin: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.project-link {
  text-decoration: none;
}

.card-title {
  font-family: 'Nerko One';
}

.close-icon-container {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .project {
    justify-content: space-between;
    margin: 0 25px 0 25px;
  }
}