.modaltaskinfo-container {
  width: 90%;
  margin: auto;
}

.comment-container {

}

.comment-button {
  border: none;
  background: none;
  cursor: pointer;
}

.comment-line {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.comment-input {
  width: 100%;
  height: 50px;
}

.comment-text-container{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.comment-text-container-answer {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.comment-text-container-button {
  position: fixed;
  margin-left: 10px;
}

.comment-text-container-button-close {
  margin-left: 14%;
}